.report_toolbar {
    background-color: #cdcdcd;
    border-bottom: solid lightgray 1px;
    height: 30px;
}

.div_mask {
    top: 30px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    background-color: lightblue;
    color: red;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;
}
