.report-toolbar {
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: lightgray;
    padding-bottom: 1px;
}

.report-toolbar-text {
    font-size: x-small;
    width: 30px;
    vertical-align: middle;
    text-align: center;
}

.report-toolbar-label {

}

.report-content {
    margin: 50px 5px 30px 5px;
}

.report-content table tr td {
    padding: 2px;
}

.div-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.div-loading {
    margin: 200px auto;
    width: 70px;
}

.ball-grid-pulse > div {
    background-color: green;
}
