<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Report</title>
    <!--引入bootstrap样式-->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/css/common.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/report_server/css(report_key=${report_key})}">
</head>
<body>
<div>
    <div id="report_toolbar" class="report_toolbar">
        这是报表工具栏
    </div>
    <div id="report_content"></div>
    <div id="div_mask" class="div_mask">Loading...</div>
</div>
<input type="hidden" id="report_key" th:value="${report_key}">
<script type="text/javascript" src="/bootstrap/js/jquery.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
</body>
</html>